.NavBar{
  background-color: #92D053;
  display: flex;
  flex-direction: row;
}
.Nav{
  color: white;
  font-size: 36px;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 1%;
}
.cardsContainer{
  display: grid;
  margin-left: 350px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1300px
}
.form{
  background-color: #FF879B;
  box-shadow: rgba(0,0,0, 0.24) 0px 3px 8px;
  margin-top: 100px;
  border-radius: 30%;
  width: 300px;
  height: 300px;
  top: 110px;
  left: 15px;
  position: fixed;
}
.App{
  background-color: #ffae42;
}
.bookCard{
  margin-top: 40px;
  height: 300px;
  width: 350px;
  border-radius: 3%;
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: rgba(0,0,0, 0.24) 0px 3px 8px;
}
.book{
  animation-duration: 0.25s;
  animation-name: esam;
  color: rgb(65, 62, 62);
  margin-left: 10px;
  margin-top: 32px;
}
@keyframes esam {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
.textInput{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border-color: transparent;
  border-radius: 20px;
  box-shadow: rgba(0,0,0, 0.24) 0px 3px 8px;
  margin-top: 15px;
  margin-left: 50px;
  height: 45px;
}
.textInput:focus{
  outline: none;
}
.text{
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  margin-left: 50px;
}
.checkBox > input{
  appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
  width: 100px;
  height: 40px;
}
.switch {
  position: relative;
  display: inline-block;
  top: 10px;
  left: 160px;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.completed{
  position: relative;
  right: 110px;
  top:8px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 18px;
}
.submitForm{
  color: rgb(0, 0, 0);
  border-color: transparent;
  height: 40px;
  width: 70px;
  position: relative;
  left: 105px;
  top: 10px;
  border-radius: 18px;
  background-color: #92D053;
}
.submitForm:hover{
  cursor: pointer;
}
div a {
  width: 50px;
  height: 50px;
  position: relative;
  left: 80%;
  background-color: #ffffff;
  border-radius: 50px;
  opacity: 1;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(247, 149, 29, 0.5);
  -moz-box-shadow: 0px 0px 30px 0px rgba(247, 149, 29, 0.5);
  box-shadow: 0px 0px 30px 0px rgba(247, 149, 29, 0.5);
}
div a > span {
  background-color: #f5a700;
  display: block;
  height: 6px;
  border-radius: 6px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 18px;
  width: 32px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
}
div a > span span {
  display: block;
  background-color: #ed7f00;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  left: 0;
  top: 0;
}
div a > span.left {
  transform: rotate(45deg);
  transform-origin: center;
}
div a > span.left .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
div a > span.left .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 26px;
}
div a > span.right {
  transform: rotate(-45deg);
  transform-origin: center;
}
div a > span.right .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
div a > span.right .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 26px;
}
div a:hover > span {
  background-color: #2faee0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
div a:hover > span span {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #008ac9;
}
div a:hover > span.left .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 26px;
}
div a:hover > span.left .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
div a:hover > span.right .circle-left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 26px;
}
div a:hover > span.right .circle-right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
.giveMeCursorHover:hover{
  cursor: pointer;
}
.invisible{
  height: 0px;
  width: 0px;
}
.Overview{
  position: fixed;
  top: 240px;
  right: 40px;
  height: 220px;
  width: 250px;
  border-radius: 20px;
  background-color: #FF9178;
  box-shadow: rgba(0,0,0, 0.24) 0px 3px 8px;
}
.overview{
  color: rgb(41, 41, 41);
  margin-left: 5px;
}